@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.hero-background {
  position: relative;
  background-color: rgb(101, 89, 89);
  opacity: 0.9;
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: normal;
}

@media (min-width: 768px) {
  .hero-background {
    min-height: 100vh;
  }
}

@media (max-width: 767px) {
  .hero-background {
    min-height: 75dvh;
  }
}

@media (max-width: 1280px) {
  .hero-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* \Adjust opacity as needed */
  }
}

.section-bg-gradient {
  @apply relative w-full bg-gradient-to-br from-[#D4D4D4] from-30% via-[#EFEFEF] via-50% to-[#D4D4D4] to-90%;
}
